[submodule "packages/tensorfleet-util"]
	path = packages/tensorfleet-util
	url = https://github.com/TensorFleet/tensorfleet-util.git
[submodule "packages/tensorfleet-ros"]
	path = packages/tensorfleet-ros
	url = https://github.com/TensorFleet/tensorfleet-ros.git
